@charset "UTF-8";

/* ------------------------------
 * contents css
 * format...
 *------------------------------ */





/* 基本設定===================================================================*/
@import url("beas.css");


/* フォント設定===================================================================*/
@import url("font.css");


/* リンク設定===================================================================*/
@import url("link.css");


/* リセット===================================================================*/
@import url("reset.css");






/* その他プリセット===========================================================*/
.clear{
	clear: both;
}


/* ------------------------------
 Clearfix css
------------------------------ */


.clearfix:after {
  content: ".";  
  display: block; 
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}